/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 5, sass_source/main.scss */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* line 9, sass_source/main.scss */
body > .container {
  margin-top: 50px;
}
